*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: searchfield-cancel-button!important;
} */
/* form part start */
nav{
    background-color: rgb(68, 61, 61);
    color:white;
    text-align: center;
font-size: 18px;

    
}
nav ul li{
    display: inline-block;
    padding: 7px ;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.4s;
}
nav ul li a{
    text-decoration: none;
    background: none;
    color:white;
    padding:5px 15px;
    
}
nav ul li a:hover{
color:rgb(221, 71, 25);
transform: scale(1.2);
}
.container{
    /* background: linear-gradient(45deg, rgba(94, 117, 52, 0.5),rgba(144, 236, 216, 0.8),rgba(240, 150, 240, 0.9)); */
    background-image: url(images/WebBackground.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width:100%;
    height:100vh;
    
}
h3{
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
}
h1{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
    color:rgb(255, 251, 251);
}
.form{
    width:350px;
    height:450px;
    background-color: rgba(0,0,0,0.4);
    color:white;
    margin:auto;
    box-shadow: 0px 0px 20px rgba(26, 216, 216, 0.8) ;
padding:20px ;
line-height: 1.5rem;
border-radius: 10px;
transform-origin: center;
transition: all 0.5s;
}
.form:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(243, 247, 6, 0.8) ;

}
.form input{
    color:white;
    width:100%;
    outline:none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.9);
}
input[type=search]{
    width:85%;
 

}
input[type=reset]{
    width:10%;
    background-color:rgba(255, 255, 255,0.6);
    color:black;
    border-radius: 10px;
    box-shadow:1px 1px 5px ;
}
input[type=submit]{
    width:100%;
    background-color: rgba(255, 255, 255,0.6);
    color:rgb(75, 72, 72);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    box-shadow:1px 1px 5px;
    font-weight: bold;
}
::placeholder{
    font-size:14px;
    letter-spacing:0.1rem;
    color:white;
}
textarea{
    width:100%;
    background-color: transparent;
    border:1px solid rgba(255, 255, 255,0.8);
    outline: none;
    border-radius: 5px;
}
label{
    font-size: 18px;
    display:block;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color:rgb(71, 71, 71);
    background-color:rgba(255, 255, 255,0.6) ;
    padding:px;
    border-radius: 5px;
    box-shadow:1px 1px 5px ;
    margin:10px 0;
    display: block;
    width:100%;
    text-align: center;
}
/* form part end */
/* table part start */
.container2{
    background: linear-gradient(45deg, rgba(94, 117, 52, 0.5),rgba(144, 236, 216, 0.8),rgba(240, 150, 240, 0.9));
    width:100%;
    height:100vh;
    
}
/* .table{
    background-color: rgba(0,0,0,0.2);
    width:60%;
    height:500px;
    position:relative;
    margin: auto;
} */
table{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   width:40%;
   text-align: center;
border-collapse: collapse;
border-spacing: 0;
/* border: 1px solid rgba(0,0,0,0.4); */
border-radius:15px;
box-shadow: 0 0 25px;




}
th, td{
    padding:5px 25px
}
th{
    background-color: rgb(184, 138, 226);
    
}
/* table end */

/* feedback form start */
.container3{
    background-color: black;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
display:flex;
flex-direction:row-reverse;
justify-content: center;
align-items: center;
width:400px;
padding :20px 30px;
background-color: #111;
border-radius: 15px;
border:1px solid #444;
}
input[type=radio]{
    margin-left:10px;
    display:none;
}
.star label{
    font-size: 25px;
    color:#444;
    padding:10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover , input:not(:checked) ~ label:hover~label{
    color:#fd7;
}
input:checked~label{
    color:#fd7;
    
}

input#rate-5:checked ~ label{
    color:#fe7;
    text-shadow:0 0 20px #952;
}